#unity-container {
    position: relative;
    display: block;
}
#unity-container.unity-desktop {
    left: 50%;
    transform: translateX(-50%);
    margin-top: 2%;
    width: 960px;
}
#unity-container.unity-mobile { width: 100%; height: 100% }
#unity-canvas {
    background: #000000;
    border-radius: 15px;
    transition: .5s;
}
#unity-canvas:hover {
    box-shadow: 0 0 10px;
    transition: .5s;
}

.unity-mobile #unity-canvas { width: 100%; height: 100% }
#unity-loading-bar { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none }
#unity-logo { width: 154px; height: 130px; background: url('unity-logo-dark.png') no-repeat center }
#unity-progress-bar-empty { width: 141px; height: 18px; margin-top: 10px; margin-left: 6.5px; background: url('progress-bar-empty-dark.png') no-repeat center }
#unity-progress-bar-full { width: 0%; height: 18px; margin-top: 10px; background: url('progress-bar-full-dark.png') no-repeat center }
#unity-footer { position: relative; margin-top: 1% }
.unity-mobile #unity-footer { display: none }
#unity-webgl-logo { float:left; width: 204px; height: 38px; background: url('webgl-logo.png') no-repeat center; filter: invert(1); }
#unity-build-title {
    float: right;
    margin-right: 10px;
    line-height: 38px;
    font-family: "Montserrat Alternates";
    font-size: 18px;
    color: white;
}
#unity-fullscreen-button {
    float: right;
    width: 38px;
    height: 38px;
    background: url('fullscreen-button.png') no-repeat center;
    background-size: 100%;
    transition: .5s;
}
#unity-fullscreen-button:hover {
    background-size: 130%;
    transition: .5s;
}

#unity-warning { position: absolute; left: 50%; top: 5%; transform: translate(-50%); background: white; padding: 10px; display: none }
